<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application>
        <service
            android:name=".download.TPSDownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        
        <meta-data android:name="io.sentry.dsn" android:value="https://1a888cef4d504918b5b506f9b1decef7@sentry.testpress.in/23" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
    </application>
</manifest>