<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:targetSdkVersion="35" />
    <application>
        <activity
            android:name="com.tpstreams.player.FullscreenTestActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
